<h2 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <span>{{displayLanguages.dialogTitle}}</span>
  <div class="search-box">
    <input class="search-input" matInput [(ngModel)]="searchText" (keyup)="search()"
           placeholder="{{displayLanguages.search}}">
    <mat-icon class="clear-button" aria-label="Clear" (click)="clearSearch()">close</mat-icon>
  </div>
</h2>
<hr>
<mat-dialog-content class="mat-typography contact-receiver">

  <div class="contact-list" fxLayout="row" fxLayoutGap="20px">
    <div class="group">
      <h3 fxLayout="row" fxLayoutAlign="space-between center">
        <span>{{displayLanguages.groupTitle}}</span>
        <button mat-stroked-button class="create-button"
                (click)="editGroup($event)">{{displayLanguages.createGroup}}</button>
      </h3>
      <div class="group-list">
        <mat-accordion *ngIf="displayPanel" multi>
          <mat-expansion-panel [ngClass]="{selected : group.selected}" *ngFor="let group of getGroups(); let i = index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="group-name" (click)="editGroup($event, group, i)">{{group.groupName}}</span>
              </mat-panel-title>
              <mat-panel-description>
                <div class="add-group-button" *ngIf="!group.selected" (click)="changeGroup($event, group, true)">
                  <mat-icon>add_circle</mat-icon>
                </div>
                <div class="group-selected-icon" *ngIf="group.selected" (click)="changeGroup($event, group, false)">
                  <mat-icon class="done">done</mat-icon>
                  <mat-icon class="clear">remove_circle</mat-icon>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li *ngFor="let person of group.members | filterSearch : searchText : options.display: options.valueKey"
                  [ngClass]="{selected : person.selected}" fxLayout="row" fxLayoutAlign="space-between center">
                <span matTooltip="{{person[options.valueKey]}}"
                      [matTooltipPosition]="'after'">{{person[options.display]}}</span>
                <div class="add-person-button" *ngIf="!person.selected"
                     (click)="changeGroupPerson(person, group, true)">
                  <mat-icon>add_circle_outline</mat-icon>
                </div>
                <div class="selected-icon" *ngIf="person.selected" (click)="changeGroupPerson(person, group, false)">
                  <mat-icon class="done">done</mat-icon>
                  <mat-icon class="clear">remove_circle_outline</mat-icon>
                </div>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="single">
      <h3 fxLayout="row" fxLayoutAlign="space-between center">
        <span>{{displayLanguages.personTitle}}</span>
        <button mat-stroked-button class="create-button"
                (click)="editContact()">{{displayLanguages.createPerson}}</button>
      </h3>
      <ul class="single-person-list">
        <li *ngFor="let person of getContacts()"
            [ngClass]="{selected : person.selected}" fxLayout="row" fxLayoutAlign="space-between center">
          <span class="display-field" (click)="editContact(person)" matTooltip="{{person[options.valueKey]}}"
                [matTooltipPosition]="'after'">{{person[options.display]}}</span>
          <div class="add-person-button" *ngIf="!person.selected" (click)="changePerson(person, true)">
            <mat-icon>add_circle_outline</mat-icon>
          </div>
          <div class="selected-icon" *ngIf="person.selected" (click)="changePerson(person, false)">
            <mat-icon class="done">done</mat-icon>
            <mat-icon class="clear">remove_circle_outline</mat-icon>
          </div>
        </li>
      </ul>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>{{displayLanguages.cancelButton}}</button>
  <button mat-stroked-button color="primary" (click)="selectionDone()">{{displayLanguages.OkButton}}</button>
</mat-dialog-actions>
